/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-inpsyde-user {
	background-color: #21759b;
	color: #fff;
	padding: 2;
}
.user-card {
	cursor: pointer;
	box-shadow: 0 1px 1px 3px rgba(0, 0, 0, 0.015);
	padding: 2rem;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;

	& > * {
		margin-bottom: 1rem;
	}
	.label {
		margin-right: 1.5rem;
		color: #666;
	}
	.full-name {
		display: flex;
		margin-top: 2rem;

		span:not(:last-child) {
			margin-right: 1rem;
		}
	}
	img {
		width: 80%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}
.modal-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -9;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	background: rgba(0, 0, 0, 0.5);
	padding: 10rem;

	.modal-content {
		width: 70%;
		margin: 0 auto;
		padding: 6rem;
		background: #fff;
		box-shadow: 0 1px 1px 3px rgba(0, 0, 0, 10%);
		& > * {
			margin-bottom: 1.5rem;
		}
	}
	ul {
		list-style: none;
		display: flex;
		padding: 0;

		li {
			margin-right: 1rem;
		}
	}
	.full-name {
		display: flex;

		span:not(:last-child) {
			margin-right: 1rem;
		}
	}

	button {
		color: red;
		padding: 4px 10px;
	}
}
.inpsyde-user-active {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
